<h1 class="pokejan" style="text-align: center; padding-top: 20px; font-size: 100px;">ポケじゃん</h1>
<div style="text-align: center;">
  <%= image_tag 'icon.png', size: "286x257" %>
  <% if @main_pokemon.present? %>
    <%=image_tag @main_pokemon.pokemon.pokemon_image %>
  <% end %>
</div>
<div>
  <%= link_to 'たたかう', user_pokemon_matches_standby_path %>
</div>
