<h1 class="pokejan" style="text-align: center; padding-top: 20px; font-size: 100px;">あそびかた・ルール</h1>
<div style="text-align: center; font-family: BIZ UDGothic;">
<br>
<br>
  <h2>ポケじゃんとは？</h2>
  <div>
    ポケじゃんはポケモン同士の対戦をタイプ相性のみで判定するアプリです。<br>
    操作はボタンを押すだけで、特に難しい操作・駆け引きなどもなくポケモンに詳しくない人も簡単に楽しむことができます。<br>
  </div>
    <br>
    <br>
  <h2>対戦ルール</h2>
    勝敗はタイプ相性のみで決まり、ポケモンのスペックなどは関係なくなります。
    <%= link_to '（タイプ相性について）', 'https://www.pokemon.co.jp/ex/sun_moon/fight/161215_01.html', target: :_blank, class: 'link' %><br>
    例えば、コイキングVSファイヤーのような対面でもタイプ相性のみの判定なのでコイキングは勝利することができます。<br>
    勝利した場合はポケモンをゲットできます。（※引き分けでも50％でゲットできます。）<br>
    <br>
    ランキング上位・ポケモン図鑑完成を目指して楽しんでください！！<br>
    <%= image_tag 'battle.png', width: '1000px' ,style:'margin: 1% ; border: 1px solid black;' %><br>
    <%= image_tag 'get.png', width: '1000px' ,style:'margin: 1% ; border: 1px solid black;' %><br>
    <%= image_tag 'ranking.png', width: '1000px' ,style:'margin: 1% ; border: 1px solid black;' %><br>
  </div>
</div>