<div style="text-align: center; font-size: 12px; padding: 20px">
  <div>本アプリ内で引用しているゲームの名称、画像、文章の著作権や商標その他の知的財産権は、各ゲームの提供元企業に帰属します。</div>
  <br>
  <div>©2024 Pokémon. ©1995-2024 Nintendo/Creatures Inc. /GAME FREAK inc.</div>
  <div>ポケットモンスター・ポケモン・Pokémonは任天堂・クリーチャーズ・ゲームフリークの登録商標です。</div>
</div>