<div align='center'><%= link_to 'ポケじゃん', root_path, class: 'navbar-brand pokejan' %></div>
<ul class='footer-ul'>
  <li class='footer-list'><%= link_to '利用規約', rights_term_path %></li>
  <li class='footer-list'><%= link_to 'プライバシーポリシー', rights_privacy_path %></li>
  <li class='footer-list'><%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLSfMqgM8gFKfiZAQ-ji5gz-3-3GPEVX9rQe5VAhzoV0S-jZIkw/viewform', target: "_blank" %></li>
</ul>