<!-- app/views/pokemons/index.html.erb -->
<div style="padding: 10px 5%; text-align: center;">
  <div>
    <h1>好きなポケモンを1匹選んでください</h1>
    
    <%= render partial: 'pokemon', locals: { pokemons: @pokemons } %>
    <div style="text-align: center;">
      <%= paginate @pokemons %>
    </div>
    
  </div>
</div>
