<div class="content-wrapper">
  <%= button_to "対戦制限回数をリセットする", admin_reset_match_limit_path, method: :post, class: 'btn btn-primary' %>
  <%= button_to "レートをリセットする", admin_reset_match_score_path, method: :post, class: 'btn btn-primary' %>
  <%= button_to "ボックスをリセットする", admin_reset_boxpokemon_path, method: :post, class: 'btn btn-primary' %>
</div>